:root{
--Green : hsl(75, 94%, 57%);
--White : hsl(0, 0%, 100%);
--Grey700 : hsl(0, 0%, 20%);
--Grey800 : hsl(0, 0%, 12%);
--Grey900 : hsl(0, 0%, 8%);
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family:Inter;
}
body{
  background-color: var(--Grey900);
}
.container{
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  background-color: var(--Grey800);
  height: 700px;
  border-radius: 20px;
  margin: 70px auto;
}
.image{
  margin-top: 50px;
}
.profile-pic{
 width: 100px;
 border-radius: 50%;
}
.paragraph{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: -20px;
  font-size: 14px;
}
.name{
  color:var(--White) ;
  font-weight: 600;
}
.location{
  margin-top: 10px;
  margin-bottom: 30px;
 color: var(--Green);
 font-weight: 400;
}
.skills{
  font-weight:200 ;
  color: var(--White);
}
.buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.links {
  background-color: var(--Grey700);
  width: 350px;
  height: 50px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
}
.links a{
 color: var(--White);
}
.links:active a{
  color: var(--Grey900);
}
.links:active{
  color: var(--Grey900);
  background-color: var(--Green);
}
@media (max-width:500px) {
  .container{
    width: 350px; ;
  }
  .links{
    width: 280px;
    border-radius: 20px;
  }
}
